<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

  <listeners>
  <listener class-name="Utilities.ListnerClass">   </listener>
  </listeners>
  
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome"/>
  <classes>
  <class name="TestCase.TestCollectionPage"> </class>
  </classes>
  </test>
  
  <!-- 
  <test thread-count="5" name="MicrosoftEdge">
  <parameter name="browserName" value="MicrosoftEdge"/>
  <classes>
  <class name="TestCase.TestCollectionPage"> </class>
  </classes>
  </test>
   -->
  
   <!-- Test -->
</suite> 
   